.featured-cast-container {
    margin-top: 2rem;
}

.featured-cast-container>h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: white;
}

.cast {
    padding: 0 8px;
}

.cast .img {
    margin-bottom: 10px;
}

.cast .name,
.character {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.cast .name {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
}

.cast .character {
    color: #ffffff99;
    font-size: 0.8rem;
}

@media (max-width: 600px) {
    .cast .name {
        font-size: 0.8rem;
    }

    .cast .character {
        font-size: 0.75rem;
    }
}

@media (max-width: 480px) {

    .cast .name {
        font-size: 0.75rem;
    }

    .cast .character {
        font-size: 0.7rem;
    }
}

.featured-cast-container>.slick-slider>.slick-list {
    overflow-x: visible;
    scrollbar-color: #ffffff99 black;
    scrollbar-width: thin;
}