h3 {
    font-size: 1.5rem;
    color: white;
    margin-top: 100px;
}

.movies-container {
    color: white;
}

.movies-container>.row>.movie {
    font-size: 1em;
    margin-bottom: 25px;
}

.movies-container>.row>.movie:hover {
    transform: scale(0.95);
    filter: blur(1px);
    transition: 0.3s ease-in-out;
}

.movies-container>.row>.movie>.imdb-rating {
    margin: 5px 0 0 8px;
    display: flex;
    gap: 6px;
}

.movies-container>.row>.movie>.imdb-rating>.bs-star-icon {
    color: #f4e864;
    height: 2em;
    width: 1.2em;
}

.movies-container>.row>.movie>.imdb-rating>span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    font-weight: bold;
}

.movies-container>.row>.movie>.title {
    margin-left: 8px;
    height: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 600px) {
    .movies-container>.row>.movie {
        font-size: 0.8em;
    }

    .movies-container>.row>.movie>.title {
        height: 1.5rem;
    }
}

@media (max-width: 480px) {
    .movies-container>.row>.movie {
        font-size: 0.7em;
    }

    .movies-container>.row>.movie>.title {
        height: 1rem;
    }
}