.bg-dark {
    background-color: rgb(0, 5, 8) !important;
}

.dropdown-item:hover {
    background-color: rgb(0, 5, 8) !important;
}

.input:focus {
    border-color: #DC3545;
    box-shadow: none;
}